<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Hind:300|Montserrat:700" rel="stylesheet">
    </head>
    <body>
        <div class="post_box">
            <img class="image_blog" src="images/image (3).png" alt=""/>
            <div class="blog_icon"><img src="images/Forma 1.png" alt=""/></div>
            <h4 class="title_text">Adventures</h4>
            <h1 class="title__text_bold">awesome Gallery Post</h1>
            <h4 class="title_text text_margin">January 19, 2016</h4>
            <a class="read__link">read more</a>
            <div class="comment__box">
              <h3 class="comment">02 comment</h3> 
            </div>
        </div> 
    </body>
</html>
